.button {
    display: flex;
    height: 2.5rem;
    touch-action: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    white-space: nowrap;
    border-radius: 0.5rem;
    border-style: none;
    background-color: hsl(204 100% 40%);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(204 20% 100%);
    text-decoration-line: none;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(204 100% 40%);
  }
  
  .button:hover {
    background-color: hsl(204 100% 32%);
  }
  
  .button[aria-disabled="true"] {
    opacity: 0.5;
  }
  
  .button[data-focus-visible] {
    outline-style: solid;
  }
  
  @media (min-width: 640px) {
    .button {
      gap: 0.5rem;
    }
  }
  
  .menu {
    position: relative;
    z-index: 50;
    display: flex;
    min-width: 180px;
    flex-direction: column;
    overscroll-behavior: contain;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(204 20% 88%);
    background-color: hsl(204 20% 100%);
    padding: 0.5rem;
    color: hsl(204 10% 10%);
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    outline: none !important;
    max-height: max-content;
    overflow: visible;
    --menu-origin-inline: calc(var(--popover-anchor-width) / 2);
  }
  
  :is(.dark .menu) {
    border-color: hsl(204 3% 26%);
    background-color: hsl(204 3% 18%);
    color: hsl(204 20% 100%);
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.25),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  .menu-item {
    display: flex;
    cursor: default;
    scroll-margin: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none !important;
  }
  
  .menu-item[aria-disabled="true"] {
    opacity: 0.25;
    color: hsl(204 10% 10% / 0.3);
  }
  
  .menu-item[data-active-item] {
    background-color: hsl(204 100% 40%);
    color: hsl(204 20% 100%);
  }
  
  .menu-item:active,
  .menu-item[data-active] {
    background-color: hsl(204 100% 32%);
  }
  
  .menu[data-placement^="bottom"] {
    transform-origin: var(--menu-origin-inline) -11px;
  }
  
  .menu[data-placement^="top"] {
    transform-origin: var(--menu-origin-inline) calc(100% + 11px);
  }
  
  :is(.dark .menu-item[aria-disabled="true"]) {
    color: hsl(204 20% 100% / 0.3);
  }
  